<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamfive.universitybazaarsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Universitybazaarsystem">
        <activity
            android:name=".historyrv"
            android:exported="false" />
        <activity
            android:name=".ItemshistoryActivity"
            android:exported="false" />
        <activity
            android:name=".Cash"
            android:exported="false" />
        <activity
            android:name=".CreditCard"
            android:exported="false" />
        <activity
            android:name=".Paypal"
            android:exported="false" />
        <activity
            android:name=".choosePayment"
            android:exported="false" />
        <activity
            android:name=".cartRV"
            android:exported="false" />
        <activity
            android:name=".addLoan"
            android:exported="false" />
        <activity
            android:name=".loanrv"
            android:exported="false" />
        <activity
            android:name=".LoanActivity"
            android:exported="false" />
        <activity
            android:name=".exchangerv"
            android:exported="false" />
        <activity
            android:name=".addExchange"
            android:exported="false" />
        <activity
            android:name=".cart"
            android:exported="false" />
        <activity
            android:name=".addSales"
            android:exported="false"
            android:parentActivityName=".SalesActivity">
            <meta-data
                android:name="android.support.ParentActivity"
                android:value=".SalesActivity" />
        </activity>
        <activity
            android:name=".ExchangeActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.ParentActivity"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SalesActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.ParentActivity"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>